/*Personal Porfolio Site
 Susan Corbin
 silverliningdesignandprogramming.com*/
@charset "utf-8";
/* CSS Document */


/*Sets colour for the background*/
body{
	background: #06F;
	color: white;
	font-family: "Enriqueta", sans serif;
	font-size:18px;
}

/*Centres the navigation bar*/
#header{
	text-align:center;
	font-size:30px;
}

.currentPage
{
	color:#906;
}

/*Sets controls for nav bar*/
a{
	color: #C09;
	text-decoration:none;
}

a:hover{
	color: #C9F;
}

/*Sets margins for service1 div*/
#service1{
	margin-top: 100px;
	margin-left: 375px;
	margin-right: 375px;
}

/*Sets margins for service2 div*/
#service2{
	margin-top: 50px;
	margin-left: 375px;
	margin-right:375px;
}

#service3{
	margin-top: 50px;
	margin-left: 375px;
	margin-right: 375px;
}

/*Centres text in footer*/
#footer{
	text-align: center;
}


