@charset "utf-8";
/* CSS Document */

body{
	background: #06F;
	color:white;
	font-family: "Enriqueta", sans serif;
	font-size:18px; 
}

#list{
	text-align: center;
	margin-top: 250px;
	
}

#button{
	text-align: center;
	margin-top: 50px;
}

a{
	color: #C09;
	text-decoration:none;
}

a:hover{
	color: #C9F;
}

#footer{
	text-align:center;
	margin-top: 50px;
}

