@charset "utf-8";
/* CSS Document */


body{
	background: #06F;
	color:white;
	font-family: "Enriqueta", sans serif;
	font-size:18px; 
}

#logout{
	text-align: center;
	margin-top: 200px;
}

#button{
	text-align: center;
	margin-top: 75px;
}

#footer{
	text-align: center;
	margin-top: 100px;
}

a{
	color: #C09;
	text-decoration:none;
}

a:hover{
	color: #C9F;
}
